.rent-card{
    padding: 8px 0;
    color:white;
    text-align:center;
    border-radius:15px;
 
    padding-top:30px;
    cursor:pointer;
    transition: .5s;
}

.rent-card.complete{
    background-color: #000b90;
}

.rent-card.reserved{
    background-color: #00a99a;
}

.rent-card.canceled{
    background-color: red;
}

.rent-card:hover{
    background-color: #fff;
    color:#000
}